<p>
<div class="container-fluid">

<h2>This Week's Faith 5s</h2>

<% if session[:user_id] %>
<%= link_to 'New Faith5', new_reading_path %>
<% end %>

<table class="table table-striped">
 
  <% @readings.each do |reading| %>
    <tr>
      <td><%= reading.date %></td>
      <td><div class="list-group">
       <a href="<%=share_reading_path(reading)%>" class="list-group-item list-group-item-action"><%= reading.title %></a>
      </div>
      </td>
      <% if session[:user_id] %>
      <td><%= link_to 'Edit', edit_reading_path(reading) %></td>
      <td><%= link_to 'Destroy', reading_path(reading),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </div>
</table>
</div>


<div class="card card-block">
  <h4 class="card-title">Weekly Resources</h4>
    <p class="card-text">Enhance your daily spiritual practice with creative responses, memory verses, mealtime prayers, and more! </p>
      <a href="<%= weekly_resources_path %>" class="btn btn-primary">More</a>
</div>

