<p>
<div class="container-fluid">

<div class="row-fluid">
  <div class="col-sm-6">
   

<div class="card card-block">
  <h2 class="card-title">Faith 5s</h2>
  <table>
    <% @readings.each do |reading| %>
    <tr>
      <div class="list-group">
  
       <td><a href="<%=share_reading_path(reading)%>" class="list-group-item list-group-item-action"><h4><%= reading.date %></h4><p><%= reading.title %></p></a></td>
      <td></td>
      <td></td>
    <% if session[:user_id] %>
      <td><%= link_to 'Edit', edit_reading_path(reading) %>  |
    <%= link_to 'Delete', reading_path(reading), method: :delete,
              data: { confirm: 'Are you sure?' } %></td> 
  <% end %>
 <% end %>
 </tr>
</table>

<p>
<% if session[:user_id] %>
<%= link_to 'New Faith5', new_reading_path %>
<% end %>

  </div>
</div>
</div>
  <div class="col-sm-6">
  <div class="card card-block">
    <h4 class="card-title">Weekly Resources</h4>
      <p class="card-text">Enhance your daily spiritual practice with creative responses, memory verses, mealtime prayers, and more! </p>
        <a href="<%= weekly_resources_path %>" class="btn btn-success">Go</a>
 </div>
</div>
</div>
</div>