<p>
<div class="container">

<h3>Read</h3>

<h4><%= @reading.title %></h4>

<p><strong><%= @reading.verse %></strong></p>

<p><%= @reading.scripture %></p>

<%= link_to 'Next', talk_reading_path %><br />
<%= link_to 'Back', share_reading_path %><br />
<%= link_to 'Home', readings_path %>
</div>