<h1>Read</h1>

<h2><%= @reading.title %></h2>

<h3><%= @reading.verse %></h3>

<p><%= @reading.scripture %></p>

<%= link_to 'Next', talk_reading_path %><br />
<%= link_to 'Back', share_reading_path %><br />
<%= link_to 'Home', readings_path %>