<%= form_for @weekly_resource do |f| %>
 
  <% if @weekly_resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@weekly_resource.errors.count, "error") %> prohibited
        this weekly resource from being saved:
      </h2>
      <ul>
        <% @weekly_resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :creative_response %><br>
    <%= f.text_area :creative_response %>
  </p>

  <p>
    <%= f.label :memory_verse %><br>
    <%= f.text_area :memory_verse %>
  </p>

  <p>
    <%= f.label :mealtime_prayer %><br>
    <%= f.text_field :mealtime_prayer %>
  </p>
 
  <p>
    <%= f.label :season_description %><br>
    <%= f.text_area :season_description %>
  </p>


  <p>
    <%= f.submit %>
  </p>
 
<% end %>