<p>
  <strong>Creative Response:</strong>
  <%= @weekly_resource.creative_response %>
</p>
 
<p>
  <strong>Memory Verse:</strong>
  <%= @weekly_resource.memory_verse %>
</p>

<p>
  <strong>Mealtime Prayer:</strong>
  <%= @weekly_resource.mealtime_prayer %>
</p>

<p>
  <strong>Season Description:</strong>
  <%= @weekly_resource.season_description %>
</p>

<%= link_to 'Back', weekly_resources_path %>
<%= link_to 'Home', readings_path %>