<!DOCTYPE html>
<html>
  <head>
    <title>Taking Faith Home</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="<%= controller.controller_name %>">
    <nav class="navbar navbar-default">
      <div class="container-fluid"
        <div class="row">
          <div class="col-xs-4">
            <h1>Taking Faith Home</h1><p>Share | Read | Talk | Pray | Bless</p>
          </div>
          <div class="col-xs-8">
          </div>
        </div>
      </div>
    </nav>
    <div id="columns">
      <% if session[:user_id] %>
      <div id="side">
        <div class="container"   
          <ul>
            <li>You are logged in as an Admin</li>
            <li><%= link_to 'Update Faith5s', readings_path %><br /></li>
            <li><%= link_to 'Update Weekly Resources', weekly_resources_path %><br /></li>
            <li><%= link_to 'Update Admins', users_path %></li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        </div>  
      </div>
      <% end %>
      <div id="main">  
        <%= yield %>
      </div>
    </div>
  </body>
</html>
