<!DOCTYPE html>
<html>
  <head>
    <title>Devotional</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="columns">
      <div id="side">
        <% if session[:user_id] %>
        <h2>You are logged in as an Admin</h2>
        <%= link_to 'Update, View & Edit Faith5s', readings_path %><br />
        <%= link_to 'Create New Resources' %><br />
        <%= link_to 'Admin', users_path %>

        <%= button_to 'Logout', logout_path, method: :delete %>
       <% end %>
      </div>
      <div id="header">
       <fieldset>
        <h1>Taking Faith Home</h1>
          <h3>Share | Read | Talk | Pray | Bless</h3>
        </fieldset>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
