<!DOCTYPE html>
<html>
  <head>
    <title>Taking Faith Home</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="<%= controller.controller_name %>">
    
    <nav class="navbar">
      <ul class="nav navbar-nav">
       <% if session[:user_id] %> 
       <li class="nav-item">
          <a class="nav-link" href="<%= users_path %>">Update Admins</a>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", logout_path, method: :delete %>
        </li>
        <% else %>
            <li class="nav-item">
               <a class="nav-link" href="<%= login_path %>">Admin Login</a>
            </li>
        <% end %>
      </ul>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Taking Faith Home</h1>
          <p>Share | Read | Talk | Pray | Bless</p>
      </div>
    </div>

    
    
    <div id="main">  
      <%= yield %>
    </div>
  </body>
</html>
